* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(37, 35, 35);
    font-family: Arial, sans-serif;
}
.questions h1 {
    margin-left:50%;
    font-size: 20px;
    font-weight: 600;
    margin-top: 2.5%;
    color: white;
}   
.bas h1 {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    color: white;
}

.container {
    border: 1px solid #7161ef;
    margin-left: 70%;
    margin-top: 8%;
    border-radius: 5px;
    overflow: hidden;
    max-width: 20%; /* Ограничение ширины контейнера */
}

.header {
    background-color: #7161ef;
    padding:20px;
    
    cursor: pointer;
    user-select: none;
}

.header h2 {
    margin: 0;
    font-size: 16px;
    font-weight: 300;
    color: white;
}
.content p {
    color: white;
}
.content {
    padding: 0 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

.content.open {
    max-height: 500px; /* Высота, которая должна быть достаточной для отображения всего текста */
    transition: max-height 0.5s ease-in;
}

footer {
    background-color: rgb(37, 35, 35); /* Цвет фона */
    color: rgb(211, 209, 209); /* Цвет текста */
    text-align: center; /* Выравнивание текста по центру */
    padding: 20px; /* Внутренние отступы */
    width: 100%; /* Ширина 100% */
    text-decoration: none;
    position: absolute; /* Изменение позиции */
    bottom: 0; /* Прикрепление к низу */
}



.container-1 {
    border: 1px solid #7161ef;
    margin-left: 70%;
    margin-top: 4%;
    border-radius: 5px;
    overflow: hidden;
    max-width: 20%; /* Ограничение ширины контейнера */
}

.header-1 {
    background-color: #7161ef;
    padding: 20px;
    cursor: pointer;
    user-select: none;
}

.header-1 h2 {
    margin: 0;
    font-size: 16px;
    font-weight: 300;
    color: white;
}
.content-1 p {
    color: white;
}
.content-1 {
    padding: 0 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

.content-1.open {
    max-height: 500px; /* Высота, которая должна быть достаточной для отображения всего текста */
    transition: max-height 0.3s ease-in;
}




.container-2 {
    border: 1px solid #7161ef;
    margin-left: 70%;
    margin-top: 8%;
    border-radius: 5px;
    overflow: hidden;
    max-width: 20%; /* Ограничение ширины контейнера */
}

.header-2 {
    background-color: #7161ef;
    padding: 20px;
    cursor: pointer;
    user-select: none;
}

.header-2 h2 {
    margin: 0;
    font-size: 16px;
    font-weight: 300;
    color: white;
}
.content-2 p {
    color: white;
}
.content-2 {
    padding: 0 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

.content-2.open {
    max-height: 500px; /* Высота, которая должна быть достаточной для отображения всего текста */
    transition: max-height 0.3s ease-in;
}





.container_1 {
    border: 1px solid #7161ef;
    margin-left: 70%;
    margin-top: 4%;
    border-radius: 5px;
    overflow: hidden;
    max-width: 20%; /* Ограничение ширины контейнера */
}

.header_1 {
    background-color: #7161ef;
    padding: 20px;
    cursor: pointer;
    user-select: none;
}

.header_1 h2 {
    margin: 0;
    font-size: 16px;
    font-weight: 300;
    color: white;
}
.content_1 p {
    color: white;
}
.content_1 {
    padding: 0 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

.content_1.open {
    max-height: 500px; /* Высота, которая должна быть достаточной для отображения всего текста */
    transition: max-height 0.3s ease-in;
}

.first_strings {
    float:left;

}
